/* line 4, ../sass/base.scss */
body {
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

/* line 8, ../sass/base.scss */
.intro {
  height: 450px;
  overflow: hidden;
  position: relative;
}
/* line 13, ../sass/base.scss */
.intro > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 100%;
}
/* line 21, ../sass/base.scss */
.intro > .info-intro {
  position: relative;
  text-align: center;
  margin-top: 70px;
}
/* line 26, ../sass/base.scss */
.intro > .info-intro img {
  width: 60%;
}
/* line 30, ../sass/base.scss */
.intro > .info-intro h3 {
  color: #fff;
  font-weight: normal;
}
/* line 35, ../sass/base.scss */
.intro > .info-intro .btn {
  margin-top: 25px;
}

/* line 41, ../sass/base.scss */
.nav-top-custom {
  background-color: transparent;
  border-color: transparent;
  padding-top: 30px;
}
/* line 46, ../sass/base.scss */
.nav-top-custom .container-fluid {
  padding-left: 70px;
  padding-right: 70px;
}
/* line 54, ../sass/base.scss */
.nav-top-custom .container-fluid .collapse .nav > li > a {
  background-color: transparent;
  color: #fff;
  opacity: 0.5;
}
/* line 59, ../sass/base.scss */
.nav-top-custom .container-fluid .collapse .nav > li > a:hover, .nav-top-custom .container-fluid .collapse .nav > li > a:visited, .nav-top-custom .container-fluid .collapse .nav > li > a:focus {
  background-color: transparent;
  color: #fff;
  opacity: 10;
}
/* line 70, ../sass/base.scss */
.nav-top-custom .container-fluid .nav-head-right .btn {
  border-color: #fff;
  opacity: 10 !important;
  margin-left: 10px;
  font-weight: bold;
  padding: 7px 20px;
  font-size: 12px;
}
/* line 79, ../sass/base.scss */
.nav-top-custom .container-fluid .nav-head-right .btn-trans {
  background-color: #4a90e2 !important;
  border-color: #4a90e2;
}

/* line 87, ../sass/base.scss */
.hot-info {
  display: -moz-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
  align-items: center;
  -webkit-box-align: center;
  padding: 30px 15px;
  border-bottom: 1px solid #ececec;
  pointer-events: none;
}
/* line 95, ../sass/base.scss */
.hot-info .title {
  background-color: #31639c;
  color: #fff;
  border-radius: 25px;
  padding: 7px 15px;
  margin-right: 7px;
}

/* line 104, ../sass/base.scss */
.content-blog {
  margin-top: 100px;
}
/* line 109, ../sass/base.scss */
.content-blog .row > div > img {
  width: 100%;
}
/* line 113, ../sass/base.scss */
.content-blog .row > div > div {
  padding: 25px 20px;
  border: 1px solid #ececec;
  border-radius: 0 0 3px 3px;
}

/* line 122, ../sass/base.scss */
.video-box {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fafafa;
  border-top: 1px solid #ebebeb;
  margin-top: 20px;
}
/* line 130, ../sass/base.scss */
.video-box .title {
  font-weight: normal;
}
/* line 134, ../sass/base.scss */
.video-box .content {
  width: 60%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
/* line 141, ../sass/base.scss */
.video-box .bx-wrapper .bx-viewport {
  box-shadow: 0 0 5px transparent;
  background-color: black;
}
/* line 145, ../sass/base.scss */
.video-box .bx-wrapper .bx-viewport iframe {
  border: transparent;
  height: 400px;
  width: 100%;
}

/* line 153, ../sass/base.scss */
.caption {
  background-color: #4a90e2;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  text-align: center;
}
/* line 160, ../sass/base.scss */
.caption h2 {
  padding-top: 0;
  padding-bottom: 0;
  font-weight: normal;
  margin-bottom: 0;
}

/* line 168, ../sass/base.scss */
.footer-home {
  background-color: #181818;
  display: -moz-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  align-items: center;
  -webkit-box-align: center;
  padding-left: 50px;
  padding-right: 50px;
  height: 100px;
  padding-top: 0;
  padding-bottom: 0;
}
/* line 179, ../sass/base.scss */
.footer-home p {
  color: #fff;
  opacity: 0.5;
  margin-bottom: 0;
}
/* line 185, ../sass/base.scss */
.footer-home ul {
  display: -moz-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  list-style: none;
}
/* line 189, ../sass/base.scss */
.footer-home ul li {
  margin-left: 15px;
}
/* line 192, ../sass/base.scss */
.footer-home ul li a {
  color: #fff;
  font-size: 18px;
}

/* line 200, ../sass/base.scss */
.image_position {
  text-align: center;
}

@media (max-width: 768px) {
  /* line 205, ../sass/base.scss */
  .video-box .content {
    width: 90%;
  }

  /* line 209, ../sass/base.scss */
  .nav-top-custom {
    padding-top: 0px;
    background-color: #fff;
  }

  /* line 214, ../sass/base.scss */
  .intro {
    margin-top: -35px;
  }

  /* line 218, ../sass/base.scss */
  .nav-top-custom .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 223, ../sass/base.scss */
  .nav-top-custom .container-fluid .collapse .nav > li > a {
    color: #000;
    opacity: 10;
  }

  /* line 228, ../sass/base.scss */
  .nav-top-custom .container-fluid .collapse .nav > li > a:hover,
  .nav-top-custom .container-fluid .collapse .nav > li > a:focus,
  .nav-top-custom .container-fluid .collapse .nav > li > a:visited {
    color: #000;
    opacity: 10;
  }

  /* line 235, ../sass/base.scss */
  .intro > .info-intro {
    margin-top: 108px;
  }

  /* line 239, ../sass/base.scss */
  .video-box .bx-wrapper .bx-viewport iframe {
    height: 270px;
  }
}
@media (max-width: 480px) {
  /* line 245, ../sass/base.scss */
  .intro {
    margin-top: -83px;
  }

  /* line 249, ../sass/base.scss */
  .intro > .info-intro {
    margin-top: 136px;
  }

  /* line 253, ../sass/base.scss */
  .intro > .info-intro .btn {
    margin-top: 0px;
  }

  /* line 257, ../sass/base.scss */
  .video-box {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 264, ../sass/base.scss */
  .video-box .bx-wrapper .bx-viewport iframe {
    height: 160px;
  }

  /* line 268, ../sass/base.scss */
  .footer-home {
    padding-left: 15px;
    padding-right: 15px;
  }
}
