<nav class="navbar navbar-default navbar-fixed-top nav-top-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="">Blog <span class="sr-only">(current)</span></a></li>
        <li><a href="">Link</a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="">Action</a></li>
            <li><a href="">Another action</a></li>
            <li><a href="">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right nav-head-right">
        <li><a href="" class="btn btn-primary">TRY BUILDER</a></li>
        <li><a href="" class="btn btn-primary btn-trans">BUY NOW</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="intro">
  <img src="assets/img/landing-10.jpg">
  <div class="info-intro">
    <img src="assets/img/intro-title.png">
    <h3>Streamline your workflow with Stack.</h3>
    <a href="" class="btn btn-primary">VIEW THE DEMOS</a>
  </div>
</div>

<div class="hot-info">
  <div class="title btn btn-default">HOT!</div>
  <div class="info">
    Over 290 interface blocks, 140 demo pages and Variant Page Builder. <a href="">Purchase Stack</a> for $17 USD.
  </div>
</div>

<div class="container content-blog">
    <div class="row">
        <div class="col-md-4 col-sm-4" ng-repeat="blog in blogs|limitTo:3">
            <img ng-src="{{wsUrl + blog.Post.image}}">
            <div>
                <h5>{{ blog.Post.title }}</h5>
                <p>{{ blog.Post.content.substr(0,100) }} ...</p>
                <a href="#/blog_detail/{{ blog.Post.id_post }}">Learn More</a>
            </div>
        </div>
    </div>
</div>

<div class="video-box">
    <h2 class="title">Building beautiful sites is easy</h2>
    <div class="content">
      <div class="bxslider">
          <div>
              <iframe src="//www.youtube.com/embed/wBdvEdWx2iU" height="200" width="400" id="video1"></iframe>
          </div>
          <div>
              <iframe src="//www.youtube.com/embed/wBdvEdWx2iU" height="200" width="400" id="video2"></iframe>
          </div>
          <div>
              <iframe src="//www.youtube.com/embed/wBdvEdWx2iU" height="200" width="400" id="video3"></iframe>
          </div>
          <div>
              <iframe src="//www.youtube.com/embed/wBdvEdWx2iU" height="200" width="400" id="video4"></iframe>
          </div>
      </div>
    </div>
</div>

<div class="caption">
  <h2>Build a beautiful site with Stack</h2>
</div>

<footer class="footer-home">
    <p>© 2017 Medium Rare — All Rights Reserved</p>
    <ul>
      <li><a href=""><i class="fa fa-google" aria-hidden="true"></i></a></li>
      <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    </ul>
</footer>