@import "variables";
@import "mixins";

body{
	font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

.intro{
	height: 450px;
	overflow: hidden;
	position: relative;

	>img{
		position: absolute;
		left: 50%;
		top: 50%;
		@include translate_absolute(-50%, -50%);
		width: 100%;
	}

	>.info-intro{
		position: relative;
		text-align: center;
		margin-top: 70px;

		img{
			width: 60%;
		}

		h3{
			color: #fff;
			font-weight: normal;
		}

		.btn{
			margin-top: 25px;
		}
	}
}

.nav-top-custom{
	background-color: transparent;
	border-color: transparent;
	padding-top: 30px;

	.container-fluid{
		padding-left: 70px;
		padding-right: 70px;
	
		.collapse{
			.nav{

				>li{
					>a{
						background-color: transparent;
						color: #fff;
						opacity: 0.5;

						&:hover,&:visited,&:focus{
							background-color: transparent;
							color: #fff;
							opacity: 10;
						}
					}
				}
			}
		}

		.nav-head-right{
			.btn{
				border-color: #fff;
				opacity: 10 !important;
				margin-left: 10px;
				font-weight: bold;
				padding: 7px 20px;
				font-size: 12px;
			}

			.btn-trans{
				background-color: #4a90e2 !important;
				border-color: #4a90e2;
			}
		}
	}
}

.hot-info{
	@include flex;
	@include flex_x(center, center);
	@include flex_y(center, center);
	padding: 30px 15px;
	border-bottom: 1px solid #ececec;
	pointer-events: none;

	.title{
		background-color: #31639c;
		color: #fff;
		border-radius: 25px;
		padding: 7px 15px;
		margin-right: 7px;
	}
}

.content-blog{
	margin-top: 100px;

	.row{
		>div{
			>img{
				width: 100%;
			}

			>div{
				padding: 25px 20px;
				border: 1px solid #ececec;
				border-radius: 0 0 3px 3px;	
			}
		}
	}
}

.video-box{
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #fafafa;
	border-top: 1px solid #ebebeb;
	margin-top: 20px;

	.title{
		font-weight: normal;
	}

	.content{
		width: 60%;
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
	}

	.bx-wrapper .bx-viewport{
		box-shadow: 0 0 5px transparent;
		background-color: black;
	
		iframe{
			border: transparent;
			height: 400px;
			width: 100%;
		}
	}
}

.caption{
	background-color: #4a90e2;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #fff;
	text-align: center;

	h2{
		padding-top: 0;
		padding-bottom: 0;
		font-weight: normal;
		margin-bottom: 0;
	}
}

.footer-home{
	background-color: #181818;
	@include flex();
	@include flex_x(space-between, justify);
	@include flex_y(center, center);
	padding-left: 50px;
	padding-right: 50px;
	height: 100px;
	padding-top: 0;
    padding-bottom: 0;

	p{
		color: #fff;
		opacity: 0.5;
		margin-bottom: 0; 
	}

	ul{
		@include flex();
		list-style: none;

		li{
			margin-left: 15px;

			a{
				color: #fff;
				font-size: 18px;
			}
		}
	}
}

.image_position{
	text-align: center;
}

@media(max-width: 768px){
	.video-box .content {
	    width: 90%;
	}

	.nav-top-custom {
	    padding-top: 0px;
	    background-color: #fff;
	}

	.intro {
	    margin-top: -35px;
	}

	.nav-top-custom .container-fluid {
	    padding-left: 15px;
	    padding-right: 15px;
	}

	.nav-top-custom .container-fluid .collapse .nav > li > a {
	    color: #000;
	    opacity: 10;
	}

	.nav-top-custom .container-fluid .collapse .nav > li > a:hover,
	.nav-top-custom .container-fluid .collapse .nav > li > a:focus,
	.nav-top-custom .container-fluid .collapse .nav > li > a:visited {
	    color: #000;
	    opacity: 10;
	}

	.intro > .info-intro {
	    margin-top: 108px;
	}

	.video-box .bx-wrapper .bx-viewport iframe {
	    height: 270px;
	}
}

@media(max-width: 480px){
	.intro {
	    margin-top: -83px;
	}

	.intro > .info-intro {
	    margin-top: 136px;
	}

	.intro > .info-intro .btn {
	    margin-top: 0px;
	}

	.video-box {
	    padding-top: 30px;
	    padding-bottom: 30px;
	    padding-left: 15px;
	    padding-right: 15px;
	}

	.video-box .bx-wrapper .bx-viewport iframe {
	    height: 160px;
	}

	.footer-home {
	    padding-left: 15px;
	    padding-right: 15px;
	}
}