@mixin translate_absolute($x, $y){
	transform: translate($x, $y);
	-moz-transform: translate($x, $y);
	-webkit-transform: translate($x, $y);
}

@mixin flex{
	display: -moz-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
}

@mixin flex_y($x,$y){
	align-items: $x;
	-webkit-box-align: $y;
}

@mixin flex_x($x, $y){
	justify-content: $x;
	-webkit-box-pack: $y;
}